* {
     box-sizing: border-box;
}
p{
     margin: 0;
}
@font-face {
     font-family: 'Norse';
     src: url('font/Norse-Bold.otf');
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
body {
     margin: 0;
     width: 100%
}
.plant{
     background-image: url(images/plant.jpeg);
     width: 35%;
     height: 100vh;
     position: relative;
     color: white;
     display: inline-flex;
     align-items: center;
     float: left;
}
.transparent-container{
     justify-content: center;
     align-items: center;
     display: flex;
     width: 100%;
     height: 20%;
     background: rgb(0,0,0, .66);
     margin-top: -30vh;
}
h1{
     font-size: 9rem;
     font-family: 'Norse', sans-serif;
}
.photo-author{
     position:absolute;
     bottom:0px;
     left:50%;
     margin-left:-150px;
}
.photo-author a:visited{
     color: white;
}
img{
     width: 20%;
     height: auto;
}
.form{
     display: inline;
     float: left;
     width: 65%;
     height: 100vh;
}
.text-container{
     height: 32.5%;
     background: #DBE9F4;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}
.text-container span{
     display: block;
     font-weight: 700;
     font-size: 1.53em;
     max-width: 60%;
     margin: 1rem;
     margin-left: 3rem; 
}
.form-container{
     height: 35%;
}
.form-container p{
     font-size: 2rem;
     font-weight: 600;
     margin-left: 4rem;
     margin-top:  4rem;
}
.submit-container{
     background-color: #DBE9F4;
     height: 24.5%;
}
.submit-container span{
     margin: 0.5rem;
}
button{
     color: white;
     background-color: #596D48;
     padding: 15px;
     border-radius: 15%;
     font-size: 1rem;
     font-weight: 700;
     margin: 3rem 1rem 0 2rem;
}
.input-container-right{
     display: flex;
     flex-direction: column;
}
.input-container-left{
     display: flex;
     flex-direction: column;
     float: left;
}
.input-container{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     height: 100%;
     margin-top: -40px;
}
label{
     display: block;
     text-align: left;
}
form{
     margin: 1rem;
     margin-left: 3rem;
}
input:invalid:not(:focus){
     outline: none;
     border: 3px solid #596D48;
}
input:invalid:focus{
     outline: none;
     border: 3px solid red;
}
input:valid{
     outline: none;
     border: 3px solid green
}
.password-text{
     font-size: 1rem;
     max-width: 20vh;
     align-self: flex-end;
     margin-bottom: 2rem;
}
.shadow{
     box-shadow: 10px 0px 5px rgb(0,0,0, .66);
}
